$containerColor: crimson;
$boxColor: green;

$fontSize: 20px;

// css3 variables
html{
  --blue: blue;
  --white: white;
}

:root{
  --crimson: crimson;
  --red: red;
}

.box-container {  
  background-color: $containerColor;
  padding: 5px;
  font-size: $fontSize;
  div{
    height: 50px;
    width: 50px;
    background-color: $boxColor;
  }
}

.box{
  background-color: $boxColor;
}


